
@{
    ViewBag.Title = "VPNRequest";
}
<h2>VPN Request</h2>

    <form action="" method="get">
        <table border="0">
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type="text" name="FirstName">
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type="text" name="LastName">
                </td>
            </tr>
            <tr>
                <td>
                    Vpn User Code:
                </td>
                <td>
                    <input type="text" name="VpnUserCode">
                </td>
            </tr>
            <tr>
                <td>
                    Work Phone:
                </td>
                <td>
                    <input type="text" name="WorkPhone">
                </td>
            </tr>
            <tr>
                <td>
                    Vpn Recepient Email:
                </td>
                <td>
                    <input type="text" name="VPNReciepientEmail">
                </td>
            </tr>
            <tr>
                <td>
                    Company Name:
                </td>
                <td>
                    <input type="text" name="CompanyName">
                </td>
            </tr>
            <tr>
                <td>
                    Office Location:
                </td>
                <td>
                    <input type="text" name="OfficLocation">
                </td>
            </tr>
            <tr>
                <td>
                    Machine Owner:
                </td>
                <td>
                    <input type="text" name="MachineOwner">
                </td>
            </tr>
            <tr>
                <td>
                    System List:
                </td>
                <td>
                    <input type="text" name="SystemsList">
                </td>
            </tr>
            <tr>
                <td>
                    Vpn Jusstification:
                </td>
                <td>
                    <input type="text" name="VPNJustification">
                </td>
            </tr>
            <tr>
                <td>
                    Vpn Access Start:
                </td>
                <td>
                    <input type="text" name="VPNAccessStart">
                </td>
            </tr>
            <tr>
                <td>
                    Vpn Access End:
                </td>
                <td>
                    <input type="text" name="VPNAccessEnd">
                </td>
            </tr>
            <tr>
                <td>
                    Manager:
                </td>
                <td>
                    <input type="text" name="Manager">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit">
                    <input type="button" value="Cancel">
                </td> 
           </tr>
   </table>
</form>
