
@{
    ViewBag.Title = "ViewPortal";
}

<head>
    <meta name="viewport" content="width=device-width" />
</head>


<body>
    <br />
    <div style="text-align: center;">
        <img src="~/Portal_Assest/QTC-logo.png" style="margin: 5px;" />
    </div>


    <div style="text-align: center;">
        <a href="~/Portal/Service_Desk/">
            <img src="~/Portal_Assest/Service Desk Support/1-Service Desk Support.png" style="width:327px;height:204px;" />
        </a>

        <a href="~/Portal/System_Access/">
            <img src="~/Portal_Assest/System Access/1-System Access.png" style="width:327px;height:204px;" />
        </a>

        <a href="~/Portal/Management/">
            <img src="~/Portal_Assest/Management/1-Management.png" style="width:327px;height:204px;" />
        </a>
    </div>


</body>
