
@{
    ViewBag.Title = "Management";
}


<div id="mainwrapper">
  <div class="box">
    <img src="~/Portal_Assest/Management/Employee Transfers.png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      For Staff transfers to new position and/or dept, or formal name changes (i.e. Guest Wireless marital name)
    </span>
  </div>

  <div class="box">
    <img src="~/Portal_Assest/Management/New Employee (Onboarding).png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      To request a workstation, hardware, software and account access for New QTC Employees
    </span>
  </div>

  <div class="box">
    <img src="~/Portal_Assest/Management/Procurement Requests.png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      For procurement requests (Hardware, software, peripherals/accessories)
    </span>
  </div>

  <div class="box">
    <img src="~/Portal_Assest/Management/Staff Move Request.png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      For Staff moves from current to new station/cubicle or office
    </span>
  </div>

</div> <!-- end of mainwrapper -->

<div class="center" style="clear: both">
    <a href="~/Portal/Index" class="btn btn-default center">Back</a>
</div>
