
@{
    ViewBag.Title = "Thank You";
}

<link rel="stylesheet" type="text/css" href="~/CSS/RequestsStyle.css">
<h1>Thank You! </h1>

<div style="text-align:center; padding-top: 5px; padding-left:100px; padding-right:100px;">
    <h3>Your review of the Form has been successfully submitted! <img src="~/Portal_Assest/Thank You Page/Green_check.png" height="30" width="30" /> </h3>

    <h3>
        Thank you once again, your feedback on this matter is appreciated.
    </h3>

    <br />
    <a href="~/Portal/ReviewRequests" class="btn btn-default center">Return To Review Request</a>

</div>

