
@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You</h2>

<p>Your review of the Form has been successfully submitted.</p>
<p>Thank you once again, your feedback on this matter is appreciated. </p>

<a href="~/Portal/ReviewRequests" class="btn btn-default center">Return To Review Request</a>



