
@{
    ViewBag.Title = "Service Desk";
}


<div id="mainwrapper" style="align-content:center;">

  <div class="box">
    <img src="~/Portal_Assest/Service Desk Support/Facilities Support.png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      For Facilities service requests (electrical, security access, supplies, lighting, plumbing, HVAC, etc…)
    </span>
  </div>

  <div class="box">
    <img src="~/Portal_Assest/Service Desk Support/General IT Support.png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      For General IT support (PC Hardware, technical support, MS Office Products, etc…)
    </span>
  </div>

  <div class="box">
    <img src="~/Portal_Assest/Service Desk Support/QTC Internal Application Support.png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      For QTC Internal Application specific support requests (eProcess,Tracking Tool, eCW, KMEP, Citrix, etc…)
    </span>
  </div>

  <div class="box">
    <img src="~/Portal_Assest/Service Desk Support/Printer, Fax, Copier, Scanner Support.png" style="width:265px; height:167px;" />
    <span class="caption fade-caption">
      For hardware or support requests related to printers, copiers, fax machines or scanners
    </span>
  </div>

</div> <!-- End of mainwrapper -->

<div class="center" style="clear: both">
  <a href="~/Portal/Index" class="btn btn-default center">Back</a>
</div>
