
@{
    ViewBag.Title = "System Access";
}


<div id="mainwrapper" class="mainStyle">

    <div class="box">
        <img src="~/Portal_Assest/System Access/Guest Wireless Access Request.png" style="width:265px; height:167px;" />
        <span class="caption fade-caption">
            To request Guest wireless access (Diamond Bar, San Antonio and Philadelphia AO's only)
        </span>
    </div>

    <div class="box">
        <img src="~/Portal_Assest/System Access/Mobile Device Requests.png" style="width:265px; height:167px;" />
        <span class="caption fade-caption">
            To request a QTC-issued mobile device (mobile-email enabled cell phone, Aircard or MiFi device)
        </span>
    </div>

    <div class="box">
        <img src="~/Portal_Assest/System Access/USB Storage Access Requests.png" style="width:265px; height:167px;" />
        <span class="caption fade-caption">
            To request access for external media storage access (Digital camera, USB Flash drive)
        </span>
    </div>
</div>

<div id="mainwrapper" class="mainStyle">

    <div class="box">
        <img src="~/Portal_Assest/System Access/VPN (Remote Access) Request.png" style="width:265px; height:167px;" />
        <a href="~/VPN/VPNfaq">
            <span class="caption fade-caption">
                For access to QTC’s Remote Access (VPN) system
            </span>
        </a>
    </div>

    <div class="box">
        <img src="~/Portal_Assest/System Access/WebEx Account Request.png" style="width:265px;height:167px;" />
        <span class="caption fade-caption">
            For obtaining a QTC-issued Cisco WebEx Account
        </span>
    </div>

</div> <!-- end of mainwrapper -->

<div class="center" style="clear: both">
    <a href="~/Portal/Index" class="btn btn-default center">Back</a>
</div>
