
@{
    ViewBag.Title = "System_Access";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <br />
    <div style="text-align: center;">
        <img src="~/Portal_Assest/QTC-logo.png" style="margin: 5px;" />
    </div>


    <div style="text-align: center;">

        <img src="~/Portal_Assest/System Access/Guest Wireless Access Request.png" style="width:265px;height:167px;" />

        <img src="~/Portal_Assest/System Access/Mobile Device Requests.png" style="width:265px;height:167px;" />
        <img src="~/Portal_Assest/System Access/USB Storage Access Requests.png" style="width:265px;height:167px;" />

    </div>

    <div style="text-align: center;">

        <img src="~/Portal_Assest/System Access/VPN (Remote Access) Request.png" style="width:265px;height:167px;" />

        <img src="~/Portal_Assest/System Access/WebEx Account Request.png" style="width:265px;height:167px;" />
        <br />
        <a href="~/Portal/Index/"><button type="button" class="btn btn-secondary">Back</button></a>
    </div>

</body>

</html>

