
@{
    ViewBag.Title = "ThankYou";
}

<div class="page-header">
    <h2>Thank You <img src="~/Portal_Assest/greenCheckMark.png" style="width:30px;height:30px;" /></h2>
</div>

<p>Your Form has been successfully submitted. You will recieve a email shortly.</p>
<p>Please allow a few days for your manager to review your request. </p>
<a href="~/Portal/Index/"><button type="button" class="btn btn-secondary">Return To Portal</button></a>


