
@{
    ViewBag.Title = "Thank You";
}

<link rel="stylesheet" type="text/css" href="~/CSS/RequestsStyle.css">

<div style="text-align:center; padding-top: 5px; padding-left:100px; padding-right:100px;">

    <h3>
        It may take a few minutes for it to show up in <a href="~/Portal/MyRequests/">My Request</a>. You will recieve an email shortly. Please allow a few days for your request to be processed.
    </h3>

    <br/>
    <a href="~/Index/" class="btn btn-default center"> Return to Portal </a>

</div>



