
@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You</h2>

<p>Your Form has been successfully submitted. You will recieve a email shortly.</p>
<p>Please allow a few days to process your request. </p>

<a href="~/Portal/Index/" class="btn btn-default center">Return To Portal</a>



