
@{
    ViewBag.Title = "VPN FAQ";
}

<h2>VPN Request FAQ</h2>

<b style="font-size:18px;">What is a Virtual Private Network (VPN)?</b>
<p>A Virtual Private Network (VPN) uses advanced encryption and tunneling to establish secure, private network connections over "third-party" networks.</p>

<b style="font-size:18px;">Why use the VPN from home?</b>
<p>A Virtual Private Network (VPN) will allow you to access local servers that will not be publicly availble.</p>

<b style="font-size:18px;">How do I login to VPN?</b>
<p>Through the Cisco or Junos client.</p>

<b style="font-size:18px;">How do I connect to VPN?</b>
<p>Use the client and enter the username and password.</p>

<p>...</p>

<a href="~/Forms/VPNRequest" class="btn btn-default center">Continue to VPN Request Form</a>

