
@{
    ViewBag.Title = "Service_Desk";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <br />
    <div style="text-align: center;">
        <img src="~/Portal_Assest/QTC-logo.png" style="margin: 5px;" />
    </div>


    <div style="text-align: center;">

        <img src="~/Portal_Assest/Service Desk Support/Facilities Support.png" style="width:265px;height:167px;" />

        <img src="~/Portal_Assest/Service Desk Support/General IT Support.png" style="width:265px;height:167px;" />
    </div>

    <div style="text-align: center;">

        <img src="~/Portal_Assest/Service Desk Support/QTC Internal Application Support.png" style="width:265px;height:167px;" />

        <img src="~/Portal_Assest/Service Desk Support/Printer, Fax, Copier, Scanner Support.png" style="width:265px;height:167px;" />

    </div>

</body>

</html>