
table{
    text-align:left; 
    width:100%;
}
form{
	border: 2px solid #781351;
    width:70%;
	margin: 0 auto;
}
input[name="Manager"] {
    width: 70%;
}
label,input[name="Manager"] {
    display: inline;

}
input {
    width: 100%;
}
input.error{
    font-weight: bold;
    border: 1px solid #f23;
}

textarea.error{
    font-weight: bold;
    border: 2px solid #f23;
}

label.error{
    color:#f23;
    font-weight: bold;
    display: block;
	margin-bottom:0px;
}
h4{
    font-weight: bold;
    padding-left: .2cm;

}
h6{
    color:#f23;
    font-weight: bold;
    text-align: center
}
h2{
    text-align:center;
}

h5 span {
    color: #ff0000;
    font-weight: bold;
    padding-left: -.2cm;
}


td.form {
	width: 50%;
	text-align:left;
    display:table-cell;
    vertical-align:top;
    min-height:78.44444px;
	padding-left: .5cm;
}

td.formtext {
	width: 50%;
	text-align:left;
    display:table-cell;
    vertical-align:top;
    min-height:177.6999px;
	padding-left: .5cm;
}

td.buttons {
	width: 50%;
	text-align:right;
    display:table-cell;
    vertical-align:bottom;
    min-height:50px;
	padding-right: .5cm;
    padding-bottom: .4cm;
}
td.buttons {
	width: 50%;
	text-align:left;
    display:table-cell;
    vertical-align:bottom;
    min-height:50px;
	padding-left: .5cm;
    padding-bottom: .4cm;
}

label,input {
    display: block;

}

fieldset{
	border: 1px solid #781351;
	width:100%
}

legend.aws{
	color: #fff;
	background: #ffa20c;
	border: 1px solid #781351;
	margin-bottom: 0;
}  