.hoverTable {
    border-collapse: collapse;
}

    .hoverTable td {
        padding: 7px;
    }

    .hoverTable tr:hover {
        background-color: #ffff99;
    }

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.fiftyPercent{
    width: 50%;
    margin: 0 auto; 
    align-content: center;
}


tr {
    font-size: 110%;
}

h1 {
    font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    background-color: #0d64aa;
    border-radius: 10px;
    padding-left: 10px
}
